* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;

}

*a {
    text-decoration: none;
}

.header {

    background-image: url(img/unt3itled\ 2.svg);
    background-color: black;
    padding-top: 8px;

    &__background {
        position: relative;
        background: black;
        width: 100%;
        height: 100vh;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 8px;




        .logo__title {
            color: purple;
            // text-shadow: /* белый свет */ 0 0 18px #fff, 0 0 8px #fff, 0 0 23px #fff;
            text-shadow:
                -1px -1px #FFF,
                -2px -2px #FFF,
                -1px 1px #FFF,
                -2px 2px #FFF,
                1px 1px #FFF,
                2px 2px #FFF,
                1px -1px #FFF,
                2px -2px #FFF,
                -3px -3px 2px #BBB,
                -3px 3px 2px #BBB,
                3px 3px 2px #BBB,
                3px -3px 2px #BBB;
            color: purple;
            font-family: Lumanosimo;
        }

        &__link {
            position: relative;
            display: flex;
            margin-left: 100px;
            gap: 64px;

            &_name {
                color: #FFF;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: 99%;
                /* 24.75px */
                letter-spacing: -0.75px;
                transition: all 0.3s;

                &:hover {
                    color: purple;
                }
            }

        }


        &__button {
            margin-left: 84px;

            &_link:hover {
                color: purple;
            }

            &_sign {
                border-radius: 8px;
                background: black;
                border: 2px solid purple;
                transition: all 3s;

                &:hover {
                    background: rgb(2, 0, 36);
                    background: linear-gradient(74deg, rgb(108, 3, 92) 0%, rgba(121, 45, 156, 1) 63%, rgba(168, 94, 222, 0.804) 89%);
                    transition: all 0.3s;

                }

            }
        }

        .nav__button {
            display: flex;

            &_links {
                color: #FFF;
                font-size: 23px;
                font-style: normal;
                font-weight: 400;
                line-height: 99%;
                letter-spacing: -0.69px;
                margin: 6px 32px 8px 32px;
                display: flex;
                align-items: center;
                transition: all 0.3s;
            }

            &_links:hover {
                color: purple;
            }
        }

        .nav__bitton_text {
            color: #FFF;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 99%;
            letter-spacing: -0.69px;
            margin: 4px 32px 8px 32px;  
        }
        .menu__box {
            position: relative;
            .menu__summary {
                color: #FFF;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: 99%;
                /* 24.75px */
                letter-spacing: -0.75px;
                position: relative;
                list-style: none;
                transition: all 0.3s;
                    &:hover {
                        color: purple;
                    } 
            }
            .menu__content {
                position: absolute;
                width: 160px;
                padding: 12px 0px;
            }
            .menu__filter {
                
        
                &[open] .menu__summary {
                    color: purple;
                }
        
                &[open] .menu__item {
                    background: #15141A;
                }
            }
            }
            .menu__item {

                &[open] .menu__heading {
                    color: purple;
                }
            }
            .menu__heading {
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 125%;
                letter-spacing: -0.64px;
                list-style: none;
                margin-left: 12px;
            }
            .menu__link {
                color: #FFF;
                font-family: Nekst-Regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.13px;
                padding-left: 24px;
                //padding-bottom: 12px;
                transition: all 0.3s;
                &:hover{
                color: purple;
                }   
        }
    }
}

.mine {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;

    .box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 750px;

        &_img {
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            // margin-top: 40px;

        }

        &__title {
            margin-right: 375px;
            color: #FFF;
            font-family: Nekst-Medium;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 93%;
            letter-spacing: -1.36px;

        }

        &__text {
            color: var(--b-7-b-1-c-4, #B7B1C3);
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 225%;
            letter-spacing: -0.64px;
            font-family: 'Open Sans';
        }

        &__ul {
            margin-left: 20px;
        }

        &__link {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 99%;
            /* 24.75px */
            letter-spacing: 1.25px;
        }
    }

}

.error {
  color: red;
}

@media (max-width:1023px){
    .nav__link_name {
        display: none;
    }
    .menu__filter {
        position: static;
        
    }

}
@media (max-width:767px){
    .box{
        width: 96vw;
    }
    .box__logo{
        width: 96vw;
    }
    .box_img{
        max-width: 100%;
    }
    .nav__link {
        margin-left: 50px;
    }
    
}